<h1>STUDENT INDEX</h1>

<h2>Average age: <%= @students.average(:age).round(2) %></h2>

<% @students.each do |student| %>
  <h3>Name: <%= student.name %></h3>
  <p>Age: <%= student.age %></p>
  <p>House: <%= student.house %></p>
<% end %>
